@import url('https://googleapis.com');

* {
    font-family: "Poppins", sans-serif;
}


.container-login {
    width: 100%;
    max-width: 420px;
}


.fs-7 {
    font-size: 14px; 
}

.link-hover:hover {
    text-decoration: underline !important;
}
